<%= render 'layouts/nav' %>

<% content_for :head do %>
  <meta property="og:url"           content="http://www.jwade.io" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Jeremy Wade" />
  <meta property="og:description"   content="Social Entrepreneur | Educator | Web Developer | Consultant" />
  <meta property="og:image"         content="<%=asset_url('headpic1.jpg') %>" />
  <meta property="og:image:width"   content="600" /> 
  <meta property="og:image:height"  content="541" />
  <meta property="fb:app_id"        content="1535582636740127" />
<% end %>
<div class="main-container">
			<header class="fullscreen-element no-pad centered-text">
				<div class="background-image-holder parallax-background overlay">
					<%= image_tag('jwade14.jpg', class: 'background-image', alt: 'Jeremy Wade') %>
				</div>
				
				<div class="container align-vertical">
					<div class="row">
						<div class="col-md-12 text-center">
							<span class="text-white alt-font"></span>
							<h1 class="text-white"></h1>
							<p class="lead text-white"></p>
							<%= link_to "Contact Me", "https://jsie.typeform.com/to/gypQLs", :class => "btn btn-primary btn-white", target: "_blank" %>
							<a href="#projects" class="btn btn-primary btn-filled">Let's Work Together</a>
						</div>
					</div>
				</div>
			</header>
		</div>
		
			<section class="no-pad-bottom projects-gallery" id="projects">
				<div class="container"><a id="projects" class="in-page-link"></a>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
							<h1>Projects I'm working on:</h1>
							<p class="lead">
								Let's figure out how we can work together.<br>
								Want to propose something new? Then click <%= link_to "here", "https://jsie.typeform.com/to/gypQLs", target: "_blank" %>.</p>
						</div>
					</div>
					
				</div>
				
				<div class="projects-wrapper clearfix">
					<div class="container">
						<div class="row">
							<ul class="filters">
								<li data-filter="*" class="active"><span>All</span></li>
								<li data-filter=".socinn"><span>Social Innovation</span></li>
								<li data-filter=".startups"><span>Startups</span></li>
								<li data-filter=".blockchain"><span>Blockchain</span></li>
							</ul>
						</div>
					</div>
					
					<div class="projects-container">
					
						<div class="col-md-6 col-sm-12 no-pad project socinn image-holder">
							<div class="background-image-holder">
								<%= image_tag('jsie.jpg', class: 'background-image', alt: 'Social Innovation Lab') %>

							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>Social Innovation Lab</strong> in North India</h1>
									<p class="text-white">
										Jindal Centre for Social Innovation & Entrepreneurship<br> at O.P. Jindal Global University
									</p>
									<%= link_to "See Project", "https://blog.jsie.in/building-a-social-innovation-lab-in-north-india-5b47d66fc8f#.t4ksc0skl", :target => "_blank", :class => "btn btn-primary btn-white" %>
								</div>
							</div>
						</div>
						
						<div class="col-md-6 col-sm-12 no-pad project socinn image-holder">
							<div class="background-image-holder">
								<%= image_tag('futurelearn2.jpg', class: 'background-image', alt: 'FutureLearn Social Enterprise Program') %>
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>FutureLearn</strong> Social Enterprise Program</h1>
									<p class="text-white">
										Understand what it takes to launch and run <br> a sustainable social enterprise.
									</p>
									<%= link_to "See Project", "https://www.futurelearn.com/courses/social-enterprise-business-doing-good", :target => "_blank", :class => "btn btn-primary btn-white" %>
								</div>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6 no-pad project blockchain image-holder">
							<div class="background-image-holder">
							<%= image_tag('finance.jpg', class: 'background-image', alt: 'BitArrow') %>
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>BitArrow</strong></h1>
									<p class="text-white">
										Send money like email and help everyone participate <br>in the global economy with blockchain technology
									</p>
									<%= link_to "See Project", "http://www.bitarrow.com/", :target => "_blank", :class => "btn btn-primary btn-white" %>
								</div>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6 no-pad project startups image-holder">
							<div class="background-image-holder">
								<%= image_tag('crazyones.jpg', class: 'background-image', alt: 'Startup Academy') %>
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>Startup Academy</strong></h1>
									<p class="text-white">Skill development & training for the <br> next generation of Indian entrepreneurs 
									</p>
									<%= link_to "See Project", "http://startupacademy.jsie.in/", :target => "_blank", :class => "btn btn-primary btn-white" %>
								</div>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6 no-pad project socinn startups image-holder">
							<div class="background-image-holder">
								<%= image_tag('isic.jpg', class: 'background-image', alt: 'International Social Innovation Challenge') %>
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white">International <strong>Social Innovation </strong> Challenge ISIC-15</h1>
									<p class="text-white">
										Empowering Women Through Safer Communities<br> August 21-31, 2015
									</p>
									<%= link_to "See Project", "http://isic15.jsie.in/", :target => "_blank", :class => "btn btn-primary btn-white" %>
								</div>
							</div>
						</div>
					
					</div>
					
				</div>
				
			</section>
		</div>
		  <script>mixpanel.track("Landing Page View"); </script>

				
				