<%= render 'layouts/nav' %>	
<div class="main-container">
			<header class="page-header resume-header">
				<div class="background-image-holder parallax-background">
					<%= image_tag('homeoffice1.jpg', class: 'background-image', alt: 'Jeremy Wade') %>
				</div>
					<div class="spacer-40"></div>
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h1 class="text-white space-bottom-medium"><style> @import 'https://fonts.googleapis.com/css?family=Roboto:400,500i';
							</style><font color="#e67e22">J</font><font color="#bdc3c7">eremy<font color="#e67e22">Wade</font></h1>
							<span> Social Entrepreneur |    Educator | Web Developer | Consultant  </span>

							<div class="spacer-40"></div>
							<div class="spacer-40"></div>
						</div>
					</div>
				</div>
			</header>
			
			<section class="strip bg-white">
				<div class="container">
					<div class="row clearfix">
						<div class="col-sm-3 col-xs-12 pull-left">
						<%= link_to "Contact Me", "https://jsie.typeform.com/to/gypQLs", :class => "btn btn-primary btn-grey", target: "_blank" %>
						</div>
						<div class="col-sm-4 col-xs-12 pull-right text-right">
							<ul class="social-icons">
								<li>
									<%= link_to "<i class=\"iicon social_twitter\"></i>".html_safe, "https://twitter.com/jwadejeremy"-%></li>
								<li>
									<%= link_to "<i class=\"iicon social_facebook\"></i>".html_safe, "https://www.facebook.com/jeremy.wade"-%></i>
								</li>
								
								<li>
									<%= link_to "<i class=\"iicon social_linkedin\"></i>".html_safe, "https://in.linkedin.com/in/jeremyjwade"-%>
								</li>
									<li>
									<%= link_to "<i class=\"iicon social_instagram\"></i>".html_safe, "https://www.instagram.com/jeremy.jwade/"-%>
									</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		
		<div class="main-container"><a id="about" class="in-page-link"></a>
		<section class="inline-image-right">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 align-vertical no-align-mobile">
							<h1>Hi, I'm Jeremy. I'm inspired by the idea of <b>social innovation</b>.</h1>
							<h6>Startups, Technology & Social Impact</h6>
							<p class="lead">
							​Right now, I'm leading the <%= link_to "Jindal Centre for Social Innovation & Entrepreneurship", "http://jsie.in/", :target => "_blank" %> where I help people create new things and innovate on difficult social & environmental challenges. I'm passionate about social enterprise and teach a <%= link_to "FutureLearn MOOC", "https://www.futurelearn.com/courses/social-enterprise-business-doing-good", :target => "_blank" %> on the subject. I'm a self-taught ruby on rails web developer, and created this website. I think alot about the future of finance (I worked at the US Treasury for 4 years) and might start an incubator for blockchain tech startups in the future. 
							</p>
						</div>
						
						<div class="col-sm-6 text-center">
							<%= image_tag('headpic1.jpg', class: 'product-image', alt: 'Jeremy Wade') %>
						</div>
					</div>
				</div>
			</section>
			
			<section class="no-pad-bottom projects-gallery">
				<div class="container"><a id="projects" class="in-page-link"></a>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
							<h1>Projects I'm working on:</h1>
							<p class="lead">
								How can we work together? Explore the projects below and find out. If you have an idea, get in touch! 
							</p>
						</div>
					</div>
					
				</div>
				
				<div class="projects-wrapper clearfix">
					<div class="container">
						<div class="row">
							<ul class="filters">
								<li data-filter="*" class="active"><span>All</span></li>
								<li data-filter=".socinn"><span>Social Innovation</span></li>
								<li data-filter=".startups"><span>Startups</span></li>
								<li data-filter=".finance"><span>Future of Finance</span></li>
							</ul>
						</div>
					</div>
					
					<div class="projects-container">
					
						<div class="col-md-6 col-sm-12 no-pad project socinn image-holder">
							<div class="background-image-holder">
								<%= image_tag('jsie.png', class: 'background-image', alt: 'Social Innovation Lab') %>

							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>Social Innovation Lab</strong> in North India</h1>
									<p class="text-white">
										The Jindal Centre for Social Innovation & Entrepreneurship<br> at O.P. Jindal Global University
									</p>
									<%= link_to "See Project", "https://blog.jsie.in/building-a-social-innovation-lab-in-north-india-5b47d66fc8f#.t4ksc0skl", :target => "_blank", :class => "btn btn-primary btn-white" %>
								</div>
							</div>
						</div>
						
						<div class="col-md-6 col-sm-12 no-pad project socinn image-holder">
							<div class="background-image-holder">
								<%= image_tag('futurelearn2.png', class: 'background-image', alt: 'FutureLearn Social Enterprise Program') %>
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>FutureLearn</strong> Social Enteprise Program</h1>
									<p class="text-white">
										Understand what it takes to launch and run <br> a sustainable social enterprise.
									</p>
									<%= link_to "See Project", "https://www.futurelearn.com/courses/social-enterprise-business-doing-good", :target => "_blank", :class => "btn btn-primary btn-white" %>
								</div>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6 no-pad project finance image-holder">
							<div class="background-image-holder">
							<%= image_tag('finance.jpg', class: 'background-image', alt: 'BitArrow') %>
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>BitArrow</strong> Technology</h1>
									<p class="text-white">
										Send money as fast <br>as email
									</p>
									<%= link_to "See Project", "http://www.bitarrow.com/", :target => "_blank", :class => "btn btn-primary btn-white" %>
								</div>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6 no-pad project startups image-holder">
							<div class="background-image-holder">
								<%= image_tag('crazyones.png', class: 'background-image', alt: 'Startup Academy') %>
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>Startup Academy</strong></h1>
									<p class="text-white">
										<br>
									</p>
									<%= link_to "See Project", "http://startupacademy.jsie.in/", :target => "_blank", :class => "btn btn-primary btn-white" %>
								</div>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6 no-pad project socinn startups image-holder">
							<div class="background-image-holder">
								<%= image_tag('isic.jpg', class: 'background-image', alt: 'International Social Innovation Challenge') %>
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white">International <strong>Social Innovation </strong> Challenge</h1>
									<p class="text-white">
										Empowering Women Through Safer Communities<br> August 21-31, 2015
									</p>
									<%= link_to "See Project", "http://isic15.jsie.in/", :target => "_blank", :class => "btn btn-primary btn-white" %>
								</div>
							</div>
						</div>
					
					</div>
					
				</div>
				
			</section>
		</div>

				
				